<% week_days = ["Lun", "Mar", "Mer", "Jeu", "Ven", "Sam", "Dim"] %>
<%
  prev_year = @month_selected == 1 ? @year_selected - 1 : @year_selected
  prev_month = @month_selected == 1 ? 12 : @month_selected - 1
  next_year = @month_selected == 12 ? @year_selected + 1 : @year_selected
  next_month = @month_selected == 12 ? 1 : @month_selected + 1
%>
<div class="d-flex justify-content-around align-items-center w-100 p-2">
  <%= link_to "Mois précédent", home_index_path(year: prev_year, month: prev_month), class: "btn btn-info" %>
  <span><%= @month %> <%= @year_selected %></span>
  <%= link_to "Mois suivant", home_index_path(year: next_year, month: next_month), class: "btn btn-info" %>
</div>
<div class="w-100 overflow-auto p-2 no-print-padding">
  <table class="table table-bordered w-100">
    <thead>
      <tr>
        <th>Utilisateur</th>
        <%
          actual_week = @weeks_more + 1
          day_in_the_week = @days_more + 1
          week_temp = actual_week.dup

          Time.days_in_month(@month_selected, @year_selected).times do
            unless week_temp == actual_week
              week_temp = actual_week.dup
            end %>
            <td class="pt-0 pb-0" style="padding-left:5px; padding-right:5px;">
              <div class="position-relative m-0 align-middle text-center" style="min-height:51px;">
                <%= week_days[day_in_the_week - 1] %>
                <% if day_in_the_week == 1 %>
                  <span class="position-absolute" style="right:3px;bottom:0px"><%= actual_week %></span>
                <% end %>
              </div>
            </td>
            <% day_in_the_week += 1

            if day_in_the_week > 7
              actual_week += 1
              day_in_the_week = 1
            end
            actual_week = 1 if actual_week > @weeks_nbr
          end
        %>
      </tr>
    </thead>

    <tbody>
      <% @users.each do |user| %>
        <tr>
          <th class="p-0"><div class="text-nowrap" style="padding:.75rem; height:49px;"><%= user.name %></div></th>
          <%
          actual_week = @weeks_more + 1
          day_in_the_week = @days_more + 1
          days = user.days.find_by(week: @weeks[actual_week - 1])&.assigns
          week_temp = actual_week.dup
          p @weeks
          p actual_week
          p days

          Time.days_in_month(@month_selected, @year_selected).times do
            unless week_temp == actual_week
              assigns = user.days.find_by(week_id: @weeks[actual_week - 1]&.id)&.assigns
              p assigns
              if assigns
                days = JSON.parse(assigns)
              end
              week_temp = actual_week.dup
            end
            p days
            if days
              case day_in_the_week
              when 1
                day_name = days["mo"]
              when 2
                day_name = days["tu"]
              when 3
                day_name = days["we"]
              when 4
                day_name = days["th"]
              when 5
                day_name = days["fr"]
              when 6
                day_name = days["sa"]
              when 7
                day_name = days["su"]
              end
            else
              day_name = ""
            end %>
            <td><%= day_name %></td>
            <% day_in_the_week += 1

            if day_in_the_week > 7
              actual_week += 1
              day_in_the_week = 1
            end
            actual_week = 1 if actual_week > @weeks_nbr
          end %>
        </tr>
      <% end %>
      <% @assistants_count.times do %>
        <tr>
          <th class="p-0"><div class="w-100" style="height:49px;"></div></th>
          <% Time.days_in_month(@month_selected, @year_selected).times do %>
           <td></td>
          <% end %>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
